# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/plugins
!wp-content/themes
!wp-content/uploads

# ignore these plugins
wp-content/plugins/*
!wp-content/plugins/ourAwesomePlugin
!wp-content/plugins/user-role-editor
!wp-content/plugins/custom-post-type-ui
!wp-content/plugins/meta-box
!wp-content/plugins/relevanssi

# ignore specific themes
wp-content/themes/*
!wp-content/themes/ourAwesomeTheme

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Dont ignore
!wp-contet/uploads/*
!README.md
!test-code